@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive,before,after {

    .flex-center {
      @apply flex items-center justify-center;
    }

    .absolute-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .transform-center {
      transform: translate(-50%,-50%);
    }

    .overlay {
      @apply absolute left-0 right-0 z-10 w-full h-full;
    }

    .container {
      @apply mx-auto px-15;

      @media screen and (min-width: 769px) {
        max-width: 98rem;
        padding-right:0;
        padding-left:0;
      }
    }
  }

  .only-pc {
    @media screen and (max-width: 768px) {
      display: none !important;
    }
  }
  .only-sp {
    @media screen and (min-width: 769px) {
      display: none !important;
    }
  }
}